language: node_js
node_js:
  - "10"
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version "1.13.0"
  - export PATH="$HOME/.yarn/bin:$PATH"
  - yarn install
before_script:
  - docker pull kodebox/codechain:203779d31b100bf0495ac48bb493d1d0a45e5668
  - docker run -d -p 8080:8080 kodebox/codechain:203779d31b100bf0495ac48bb493d1d0a45e5668 --jsonrpc-interface 0.0.0.0 -c solo --reseal-min-period 0 --enable-devel-api
  - psql -c 'CREATE DATABASE "codechain-indexer-dev";' -U postgres
  - psql -c "CREATE USER \"user\" WITH ENCRYPTED PASSWORD 'password';" -U postgres
  - docker ps -a
script:
  - yarn lint
  - yarn build
  - git clone --depth 1 https://github.com/CodeChain-io/codechain-indexer.git
  - pushd codechain-indexer
  - yarn install
  - NODE_ENV=dev yarn run migrate
  - yarn start &
  - popd
  - NODE_ENV=test yarn test
services:
  - docker
  - postgresql
addons:
  postgresql: "9.4"
cache: yarn
